<div class="panel panel-warning">
  <div class="panel-heading">Reporte de stock por Tienda - Producto - Color</div>
  <div class="panel-body">
    <div class="form-inline">
      <div class="form-group">
        <label for="txtTienda"><a (click)="tiendaModal.show()">Tienda</a></label>
        <input [(ngModel)]="cTienda" type="text" class="form-control" id="txtTienda" placeholder="Tienda" disabled>
      </div>
      <div class="form-group">
        <label for="txtProducto"><a (click)="productoModal.show()">Producto</a></label>
        <input [(ngModel)]="cProducto" type="text" class="form-control" id="txtProducto" placeholder="Producto" readonly>
      </div>
      <div class="form-group">
        <label for="txtColor"><a (click)="colorModal.show()">Color</a></label>
        <input [(ngModel)]="cColor" type="text" class="form-control" id="txtColor" placeholder="Color" disabled>
      </div>
      <!--button type="button" class="btn btn-default" (click)="consultar()">Consultar</button-->
      <a [routerLink]="[cTienda, cProducto, cColor]" class="btn btn-default">Buscar</a>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #tiendaModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true" (click)="selecciona($event, 't')">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Seleccione una tienda</h4>
        <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
        <app-tienda></app-tienda>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #productoModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true" (click)="selecciona($event, 'p')">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Seleccione un producto</h4>
        <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
        <app-producto></app-producto>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #colorModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true" (click)="selecciona($event, 'c')">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Seleccione un color</h4>
        <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
        <app-color></app-color>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>