<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connStrPos" connectionString="Data Source=sapserver\sql2012;Initial Catalog=POSMH;User ID=sa;Password=Tecnologia.4" providerName="System.Data.SqlClient" />
    <add name="connStrErp" connectionString="Data Source=sapserver\sql2012;Initial Catalog=MHERP;User ID=sa;Password=Tecnologia.4" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key ="IntegraDesde" value="2016-01-01"/>
    <add key ="redTiendas" value="1-12"/>
    <add key ="porcentajeIva" value="16"/>
    <add key ="clienteGenerico" value="800169"/>
    <add key ="tiposPagoTarjetas" value="A-E-I-K"/>

    <add key ="cuentaIngreso" value="41352401"/>
    <add key ="cuentaIngresoServicios" value="42352501"/>
    <add key ="cuentaIngresoNoGravado" value="42950501"/>
    <add key ="cuentaDevolucion" value="41753503"/>
    <add key ="cuentaIvaVenta" value="24080501"/>
    <add key ="cuentaIvaVentaServicios" value="24080603"/>
    <add key ="cuentaIvaDevolucion" value="24080801"/>
    <add key ="cuentaIvaAsumido" value="24080701"/>
    <add key ="cuentaContrapartidaIvaAsumido" value="53052501"/>
    <add key ="cuentaRecibosCajaBonos" value="28050506"/>
    <!--tercero generico-->
    <add key ="cuentaRecibosCajaSeparados" value="28059501"/>
    <!--tercero cliente -->
    <add key ="terceroFormaPago" value="S-8002198769|4-005115"/>
    <!--A-52416575|G-886543-->
    <add key ="cuentasNoTercero" value="1105|1110"/>
    

    <add key ="tipoLancIngreso" value="VMS"/>
    <add key ="tipoLancIngresoServicios" value="VMS"/>
    <add key ="tipoLancIngresoNoGravado" value="VMS"/>
    <add key ="tipoLancDevolucion" value="ICR"/>
    <add key ="tipoLancIvaVenta" value="ICR"/>
    <add key ="tipoLancIvaAsumido" value="ICR"/>
    <add key ="tipoLancContrapartidaIvaAsumido" value="ICR"/>
    <add key ="tipoLancIvaVentaServicios" value="ICR"/>
    <add key ="tipoLancIvaDevolucion" value="ICR"/>
    <add key ="tipoLancRecibosCaja" value="ICR"/>
    <add key ="tipoLancTarjetas" value="ECC"/>

    <!--Diferencia en cambio-->
    <add key ="difCambioCuentaCajaTiendasPesos" value="11050506"/>
    <add key ="difCambioCuentaCajaTiendasDolar" value="11051501"/>
    <add key ="difCambioCuentaCajaTiendasEuros" value="11051503"/>
    <add key ="difCambioIngreso" value="42102001"/>
    <add key ="difCambioGasto" value="53052501"/>
    <add key ="difCambioTipoLancCajaTiendasPesos" value="ICR"/>
    <add key ="difCambioTipoLancCajaTiendasDolar" value="ICR"/>
    <add key ="difCambioTipoLancCajaTiendasEuros" value="ICR"/>
    <add key ="difCambioTipoLancIngreso" value="ICR"/>
    <add key ="difCambioTipoLancGasto" value="ICR"/>
    <!--<add key ="cuentaContrapartidaDevolucion" value="11100504"/>
    <add key ="tipoLancContrapartidaDevolucion" value="ICR"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
