<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="POSMHEntities" connectionString="metadata=res://*/ComisionesDataModel.csdl|res://*/ComisionesDataModel.ssdl|res://*/ComisionesDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=POSMH;user id=sa;password=Tecnologia.4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="MHERPEntities" connectionString="metadata=res://*/ComisionesDBM.csdl|res://*/ComisionesDBM.ssdl|res://*/ComisionesDBM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MHERP;user id=sa;password=Tecnologia.4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <add key="productosBonos" value="BN.BO.0002,BN.BO.0003,BN.BO.1000,BN.BP.1000,BN.BP.1001,BN.BP.1002,BN.BP.1003,BN.BP.1004,BN.BP.1005,BN.BP.1006,BN.BP.1007,EM.EM.1093,EM.EM.1206,EM.P1.1465"/>
    <add key="formaPagoBonos" value="R,U,L"/>
    <add key="porVentaBonos" value="50"/>
    <add key="porRedencionBonos" value="100"/>
    <add key="porVentaBonosAdmin" value="0"/>
    <add key="porRedencionBonosAdmin" value="100"/>
    <add key="DataBase" value="MHERP"/>
    <add key="DataBaseServer" value="."/>
    <add key="MostrarError" value="0"/>
  </appSettings>
</configuration>