<div class="container-fluid">
    <p-dataTable #dt [value]="sellThru" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,50, 100]"
       exportFilename="SellThru">
      <p-header>
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="Exportar" (click)="dt.exportCSV()" style="float:left"></button>
        </div>
      </p-header>
      <p-column *ngIf="showRed" field="DESC_REDE_LOJAS" header="Red tiendas" [style]="{'width': '90px'}"></p-column>
      <p-column *ngIf="showTienda" field="FILIAL" header="Tienda" [style]="{'width': '90px'}"></p-column>
      <p-column *ngIf="showGrupo" field="GRUPO_PRODUTO" header="Grupo Pr." [style]="{'width': '90px'}"></p-column>
      <p-column *ngIf="showSubGrupo" field="SUBGRUPO_PRODUTO" header="Subgrupo Pr." [style]="{'width': '90px'}"></p-column>
      <p-column *ngIf="showModelo" field="DESC_MODELO" header="Modelo" [style]="{'width': '90px'}"></p-column>
      <p-column *ngIf="showFabricante" field="FABRICANTE" header="Fabricante" [style]="{'width': '90px'}"></p-column>
      <p-column *ngIf="showTemporada" field="COLECAO" header="Temporada" [style]="{'width': '60px'}"></p-column>
      <p-column *ngIf="showSex" field="DESC_SEXO_TIPO" header="Sexo" [style]="{'width': '90px'}"></p-column>
      <p-column *ngIf="showTipo" field="TIPO_PRODUTO" header="Tipo Pr." [style]="{'width': '90px'}"></p-column>
      <p-column *ngIf="showColor" field="DESC_COR" header="Color" [style]="{'width': '90px'}"></p-column>
      <p-column *ngIf="showProducto" field="DESC_PRODUTO" header="Producto" [style]="{'width': '90px'}"></p-column>

      <p-column field="SEMANAS" header="Semanas"[style]="{'width': '50px'}"></p-column>
      <p-column field="STOCK" header="Stock" [style]="{'width': '50px'}"></p-column>
      <p-column field="sellThru" header="Sell Thru" [style]="{'width': '50px'}"></p-column>
      <p-column field="mesesInventario" header="Meses inv." [style]="{'width': '50px'}"></p-column>
    </p-dataTable>
</div>
<br>
<br>
