<h2>Usuarios</h2>
<hr>
  <div class="row">
    <div class="col-md-12">
    <p-dataTable [value]="usuarios" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" emptyMessage="">
      <p-column field="idUsuario" header="Usuario"></p-column>
      <p-column field="descripcion" header="Rol"></p-column>
      <p-column styleClass="col-button" header="">
          <ng-template let-usuario="rowData" pTemplate="body">
              <button type="button" class="btn btn-danger" pButton (click)="delete(usuario.idUsuario)"><span class="glyphicon glyphicon-trash"></span>&nbsp; Eliminar</button>
              <span>&nbsp;|&nbsp;</span>
              <a [routerLink]="[usuario.idUsuario]" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Editar</a>
          </ng-template>
      </p-column>
    </p-dataTable>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class='col-md-offset-5'>
      <a [routerLink]="['']"  class="btn btn-success"><span class="glyphicon glyphicon-home"></span>&nbsp;Inicio</a>
      </div>
    </div>
    <div class="col-md-4">
      <span> </span>
    </div>
    <div class="col-md-4">
      <div class='col-md-offset-5'>
      <a [routerLink]="['add']" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;Nuevo</a>
      </div>

    </div>
  </div>
